@model SevereWeatherWarnings.Models.Display.WeatherWarningDetailsViewModel;
<div class="row">
    <div class="col-md-6">
        <div class="map-window">
            <div class="text-center">
                <div id='map' data-accesstoken="@ViewData["MapBoxConnectionString"]"></div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="warning-details">
            <h1>Event Type Goes Here</h1>
            <h2>List of locations goes here</h2>
            <br />
            <h3>Main headline goes here</h3>
            <br />
            <p class="main-description">Main event description goes here</p>
            <br />
            <h3>More Details</h3>
            <div class="additional-properties">
                <div class="row">
                    <div class="col-md-2">
                        <span class="standard-label">Label 1 </span>
                    </div>
                    <div class="col-md-2">
                        <span class="hail-size-1">Value goes here</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <span class="standard-label">Label 2 </span>
                    </div>
                    <div class="col-md-2">
                        <span class="hail-size-2">Values goes here</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <span class="standard-label">Label 3 </span>
                    </div>
                    <div class="col-md-2">
                        <span class="hail-size-3">Value goes here</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <span class="standard-label">Label 4 </span>
                    </div>
                    <div class="col-md-2">
                        <span class="hail-size-4">Value goes here</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <span class="standard-label">Label 5 </span>
                    </div>
                    <div class="col-md-2">
                        <span class="hail-size-5">Value goes here</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <span class="standard-label">Label 6 </span>
                    </div>
                    <div class="col-md-2">
                        <span class="hail-size-6">Value goes here</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <span class="standard-label">Label 7 </span>
                    </div>
                    <div class="col-md-2">
                        <span class="hail-size-7">Value goes here</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>