@{
    ViewData["Title"] = "Severe Weather Warnings Map";
}

<button id="flash-flood-warnings" style="background-color:greenyellow">Flood Warning</button>
<div class="map-window">
    <div class="text-center">
        <div id='map' data-accesstoken="@ViewData["MapBoxConnectionString"]"></div>
    </div>
    <div class="warnings-window">
        <table>
            <thead>
                <tr>Type</tr>
                <tr>State</tr>
                <tr>Counties</tr>
                <tr>Expires</tr>
            </thead>
            <tbody>
                <tr class="tornado-emergency">
                    <td>TORE</td>
                    <td>TX</td>
                    <td>Tarrant</td>
                    <td>2023-04-02 20:30 UTC</td>
                </tr>
                <tr>
                    <td>TORR</td>
                    <td>TX</td>
                    <td>Tarrant</td>
                    <td>2023-04-02 20:30 UTC</td>
                </tr>
                <tr>
                    <td>TOR</td>
                    <td>TX</td>
                    <td>Tarrant</td>
                    <td>2023-04-02 20:30 UTC</td>
                </tr>
                <tr>
                    <td>SVR</td>
                    <td>TX</td>
                    <td>Tarrant</td>
                    <td>2023-04-02 20:30 UTC</td>
                </tr>
                <tr>
                    <td>FFW</td>
                    <td>TX</td>
                    <td>Tarrant</td>
                    <td>2023-04-02 20:30 UTC</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
