@{
    ViewData["Title"] = "Severe Weather Warnings Map";
}

<button id="flash-flood-warnings" style="background-color:greenyellow">Flood Warning</button>
<div class="map-window">
    <div class="text-center">
        <div id='map' data-accesstoken="@ViewData["MapBoxConnectionString"]"></div>
    </div>
    <div class="warnings-window">
        <h3>Hi</h3>
        <table>
            <thead>
                <tr>hi</tr>
                <tr>hi</tr>
                <tr>hi</tr>
            </thead>
            <tbody>
            <td>hi</td>
            <td>hi</td>
            <td>hi</td>
            </tbody>
        </table>
    </div>
</div>
