@{
    ViewData["Title"] = "Severe Weather Warnings Map";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div id='map' style='width: 400px; height: 300px;' data-accesstoken="@ViewData["MapBoxConnectionString"]"></div>
</div>
