@{
    ViewData["Title"] = "Severe Weather Warnings Map";
}
<div class="map-window">
    <div class="text-center">
        <div id='map' data-accesstoken="@ViewData["MapBoxConnectionString"]"></div>
    </div>
    @{
        Html.RenderPartial("WarningCount");
        Html.RenderPartial("SelectorPanel");
        Html.RenderPartial("PopUp");
    }
</div>