@{
    ViewData["Title"] = "Severe Weather Warnings Map";
}

<button id="flash-flood-warnings">Flash Flood</button>
<div class="text-center">
    <div id='map' data-accesstoken="@ViewData["MapBoxConnectionString"]"></div>
</div>
