@{
    ViewData["Title"] = "Severe Weather Warnings Map";
}

<button id="flash-flood-warnings" style="background-color:greenyellow">Flood Warning</button>
<div class="map-window">
    <div class="text-center">
        <div id='map' data-accesstoken="@ViewData["MapBoxConnectionString"]"></div>
    </div>
    @{
        Html.RenderPartial("SelectorPanel");
    }
</div>