<div id="warning-container">
    <div class="warning-popup" id="warning-popup">
        <h2 class="warning-title" id="warning-title">Severe Thunderstorm Warning</h2>
        <h3 class="headline" id="headline">A Severe Thunderstorm Warning remains in effect for...</h3>
        <br />
        <p class="areaDescription" id="areaDescription">Cedar Rapid, IA</p>
        <p><b>Expires: </b><span class="expiryDate" id="expiryDate">2023-04-27 11:30 CDT</span></p>
        @if (bool.Parse(ViewData["IsWarningDetailPageOn"].ToString()) == true)
        {
            <a href="" id="more-information-link" class="more-information-link" target="_blank" data-id="">More Details</a>
        }
    </div>
</div>