<div class="side-panel-container">
    <div class="expand-arrow" id="expand-warnings-selector"><<</div>
    <div class="side-panel">
        <div class="selector-panel">
            <div class="warning-selector-panel"></div>
            <h2>Warning Options</h2>
        </div>
    </div>
</div>