<div class="side-panel-container">
    <div class="row">
        <div class="col-md-12">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="expand-arrow" id="expand-warnings-selector">
                <span id="expand-arrow-expand"><<</span>
                <span id="expand-arrow-collapse">>></span>
            </div>
            <div class="side-panel">
                <h3>Warning Options</h3>
                <div class="selector-panel">
                    <div class="warning-selector-panel"></div>
                    <div class="form-check">
                        <input type="checkbox" id="flood-warnings" name="flood-warnings" class="form-check-input" value="Flood Warnings" />
                        <label for="flood-warnings">Flood Warnings</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" id="severe-thunderstorm-warnings" name="severe-thunderstorm-warnings" class="form-check-input" value="SevereThunderstormWarning" />
                        <label for="severe-thunderstorm-warnings">Severe Thunderstorm Warnings</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>