<div class="side-panel-container">
    <div class="expand-arrow" id="expand-warnings-selector"><<</div>
    <div class="side-panel">
        <div class="selector-panel">
            <div class="warning-selector-panel"></div>
            <h3>Warning Options</h3>
            <div class="form-check">
                <input type="checkbox" id="flood-warnings" name="flood-warnings" class="form-check-input" value="Flood Warnings" />
                <label for="flood-warning">Flood Warnings</label>
            </div>
        </div>
    </div>
</div>