<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.13.0/mapbox-gl.css' rel='stylesheet' />
    <link rel="stylesheet" href="~/css/warning-colours/colours.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/weather-warning-details.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SevereWeatherWarnings.Map.styles.css" asp-append-version="true" />
</head>
<body class="@ViewData["MainClass"]">
    @if ((bool) ViewData["IsTestingMode"])
    {
        <div class="warning-banner"><b>NB: </b>Site is in testing mode. Warning data is not live.</div>
    }
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.13.0/mapbox-gl.js'></script>
    <script src="~/js/mapbox.core.js" asp-append-version="true"></script>
    <script src="~/js/warnings.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
